.button {
  padding: 8px;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 6px;
}

.yes {
  border: 2px solid green;
  color: green;
}

.warn {
  border: 2px solid blue;
  color: blue;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.556);
}

.no {
  border: 2px solid orange;
  color: orange;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
  .button {
    padding: 8px;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-radius: 6px;
  }
}